body{
    background-color: #254D32;
    color: white;
    margin: 0;
    padding: 20px;
    row-gap: 1vh;
    display: flex;
    flex-wrap: wrap;
}
.item{
    background-color: #3A7D44;
    border-radius: 10px;
    border: solid 1px #54a360;
    font-size: 200%;
    padding: 10px;
    margin-top: 10px;
    width: 99%;
    text-align: center;
}
.item a {
    color:black;
}
.item a:hover{
    color:rgb(209, 209, 209);
}
.item h3{
    text-align: center;
}
.item img{
    width: 10%;
    height: auto;
}
#header{
    text-align: center;
    font-size: 300%;
    width: calc(100vw - 10px);
    height: 50vh;
    background-image: url("tlo.jpg");
    background-position: center;
    color: #69B578;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
#header1{
    text-align: center;
    font-size: 380%;
    width: calc(100vw - 10px);
    min-height: 30%;
    background-position: center;
    color: #98f8ab;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
#TOC{
    text-align: center;
    font-size: 250%;
    width: calc(100vw - 10px);
}
#TOC h2{
    display: flex;
    flex-wrap: wrap;
}
#TOC h2 a{
    font-size: 70%;
    padding: 20px;
    border-radius: 10px;
    background-color: #54a360;
    border: solid 1px #3A7D44;
    flex-grow: 1;
}